
.table-container {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.table-container h2{
    color: #4f4f4f;
    font-size: 22px;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
th,
td {
  text-align: left;
  padding: 12px;
  border-bottom: 1px solid #ddd;
}
th {
  background-color: #f8f9fa;
}
.btn {
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
  margin-right: 5px;
}
.btn-approve {
  background-color: #28a745;
  color: white;
}
.btn-reject {
  background-color: #dc3545;
  color: white;
}
.badge {
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
}
.badge-pending {
  background-color: #ffc107;
  color: #000;
}
.message{
    background: #d4edda;
     color: #155724; 
     padding:10px;
     border-radius: 5px;
     margin-top: 10px;
    margin-bottom: 20px;
}
.error{
    background: #f8d7da;
     color: #721c24; 
     padding: 10px; 
     margin-top: 10px;
     border-radius: 5px; 
     margin-bottom: 20px;
}
.badge-approved {
  background-color: #28a745;
  color: white;
}
.badge-rejected {
  background-color: #dc3545;
    color: white;
}