
.pagination {
  display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 40px;
}
.page-item{
    list-style: none;
}
.page-link {
  color: #0d6efd !important;
  background-color: #fff !important;
  border: 1px solid #dee2e6 !important;
  padding: 10px 15px !important;
  border-radius: 6px;
  text-decoration: none;
}

.page-item .page-link:hover {
  color: #0a58ca !important;
  background-color: #e9ecef !important;
  
}

.page-item.active .page-link {
  color: #fff !important;
  background-color: #0d6efd !important;
  border-color: #0d6efd !important;
  padding: 10px 15px !important;
   border-radius: 6px;
}