section h2 {
  color: #4f4f4f;
  font-size: 22px;
}
.events-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px 0;
}
.card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
  position: relative;
}
.card:hover {
  transform: translateY(-5px);
}
.card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}
.event-body {
  padding: 15px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.event-body h3 {
  margin: 0 0 5px 0;
  font-size: 1.2rem;
  color: #333;
}
.event-body p {
  margin: 0;
  color: #666;
  font-size: 0.9rem;
}
.badge {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 0.8rem;
  width: fit-content;
  margin-top: auto;
}
.paid {
  position: absolute;
  top: 10px;
  right: 10px;
}
.paid-badge {
  background-color: #e8f5e9;
  color: #2e7d32;
}
.free-badge {
  background-color: #e3f2fd;
  color: #1565c0;
}
.event-actions {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.btn-primary {
  padding: 8px 10px;
  border-radius: 6px;
  background-color:#2563EB;
   border: 1px solid #2563EB;
  color: white;
    text-decoration: none;
}    
.btn-outline-primary {
  padding: 8px 10px;
  border-radius: 6px;
  border: 1px solid #2563EB;
  color: #2563EB;
text-decoration: none;
} 
.btn-secondary{
    background:#e9e9e9;
    cursor:not-allowed;
    padding: 8px 10px;
     border: 1px solid #ddd;
     border-radius: 6px;
     color: #817d7d;
}
