.failed-container {
  text-align: center;
  padding: 50px 20px;
  display: grid;
  gap: 10px;
  margin-top: 40px;
}
.icon-failed {
  color: #dc3545;
  font-size: 5rem;
  margin-bottom: 20px;
}
.btn-try-again {
  background-color: #ffc107;
  color: #212529;
  border: none;
  padding: 10px 20px;
  font-size: 1.1rem;
  text-decoration: none;
  border-radius: 5px;
  margin-right: 10px;
}
.btn-try-again:hover {
  background-color: #e0a800;
  color: #212529;
}
.failed-buttons{
    margin-top: 20px;
}
.btn-outline-secondary{
    background:#e9e9e9;
    padding: 8px 10px;
     border: 1px solid #ddd;
     border-radius: 6px;
     color: #817d7d;
     text-decoration: none;
}
