.container{
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    border: 1px solid #f2f1f1;  
    margin-top: 40px;
}
.success-payment{
  display: grid;
  text-align: center;
  gap: 20px;
}
.lead{
      font-size: 18px;
    color: #6d6d6d;
}
.text-success{
    color: #28a745 !important;
}
.table{
        width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    margin-top: 15px;
}
th, td {
    padding: 12px;
    word-break: break-word;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
    border-right: 1px solid #ddd;
    font-weight: 600;
}
.row{
  display: flex;
  justify-content: center;
}
.back-buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}
.back-buttons .event-list{
  font-size: 16px;
  padding: 8px 10px;
   background-color: #2563EB;
   color: white;
   border-radius: 6px;
   text-decoration: none;
}
.back-buttons .my-registrations{
  font-size: 16px;
  padding: 8px 10px;
  border-radius: 6px;
  border: 1px solid #2563EB;
  color: #2563EB;
  text-decoration: none;
}


