.container{
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    border: 1px solid #f2f1f1;
}
.note{
    display: flex;
    gap: 10px;
    padding: 5px 10px;
    background-color: #FFF3CD;
color: #856404;
border: 1px solid #FFEEBA;
border-radius: 6px;
}
.card-title{
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 15px;
}
.card-header{
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
}
.table{
        width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    margin-top: 15px;
}
th, td {
    padding: 12px;
    word-break: break-word;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
    border-right: 1px solid #ddd;
    font-weight: 600;
}
form{
    margin-top: 20px;
    display: flex;
    justify-content: right;
}
.cancel {
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    margin: 5px;
    text-decoration: none;
}
.confirm {
        padding: 8px 10px;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}
.confirm:hover {
    background-color: #218838;
}
.cancel {
    background-color: #dc3545;
}
.cancel:hover {
    background-color: #c82333;
}